nav
{
    position: absolute;
    text-align: left;
    white-space: pre-line;
    padding-left: 2%;
    background-color: darkblue;
    color: white;
    width: 18%;
    top: 0%;
    left: 0%;
    height: 100%;
}
header
{
    position: absolute;
    left: 20%;
    top: 0%;
    width: 80%;
}
header ul li
{
    list-style: none;
    display: inline;
}   
body
{
    background-color: lightgrey;
}
fieldset , header
{
    background-color: white;
    border: none;
}
table, tr, td
{
    border:solid 1px;
    border-collapse: collapse;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}
.lienhaut
{
    color:white ;
}
.lienbas
{
    color: black;
}
.disclaimer
{
    position: absolute;
    left: 23%;
    top: 8%;
    width: 72.3%;
}
.basicdemo
{
    position: absolute;
    left: 23%;
    top: 20%;
    width: 72.3%;
    padding-bottom: 0%;
}
.basicdemo h1
{
    font-size: larger;
}
.tableau
{
    position: absolute;
    left: 23%;
    top: 29.5%;
}
.basdepage
{
    position: absolute;
    left: 19.9%;
    top: 96.5%;
    width: 78.55%;
}
